# Note: Theses keywords are derived from BDD standards 
#       which are set by BDD tools like JBehave or Cucumber (Gherkin).
#       They can (not need to) be used in any instruction line within a XX (Executable Example).
#       Except for the One-Time-Keywords, they have no technical meaning and
#       represent a DSL used to structure high level tests with abstract, declarative
#       and context specific statements. Each statement is supposed to represent
#       an XX script, which is called when executing. 
#       Such a XX script represents a low level description of the XX.
#       Each instruction is supposed to be a concrete, imperative and
#       not context specific instruction (build to be reused in different contexts).

#       In short: 
#       A BDD-test (Scenario) represents a high-level description of an XX
#       and its statements high-level-steps represented by XX scripts.
#       XX scripts (BDD steps) consist of natural language instructions
#       that represent a low-level description the XX.

# Common Keywords
*                   # Placeholder for any BDD-Keyword (except the One-Time-Keywords)
Feature:            # Starts a new test series (group of XX belonging together)

# German Keywords 
Scenario:
Einmaliger-Hintergrund:
Hintergrund:
Gegeben:
Wenn:
Dann:
Und:
Aber:
Aufräumen:
Einmaliges-Aufräumen:

# English Keywords
Scenario:             # Starts a new XX
One-Time-Background:  # Calls a script executed once before the whole test series starts starts
Background:           # Calls a script executed for each XX in the test series
Given:                # Calls a script to execute an ARRANGE step
When:                 # Calls a script to execute an ACT step
Then:                 # Calls a script to execute an ASSERT step
And:                  # Connects semantically with last keyword used
But:                  # Connects semantically with last keyword used
Cleanup:              # Calls a script executed for each XX after its excecution
One-Time-Cleanup:     # Calls a script executed once after the whole test series has been executed
