# Note: Valid Stage Instructions must end with ":"

# Common Stage Instructions
XXId:
XXID:
XX-ID:
XX-Id:
Test-Parameter:
Test-Phase:
Filter:

# German Stage Instructions
Verhalten:
Aktiv:
Ausführungsfilter:
Kommentar:
Testdaten: 
EinmalVoraussetzung:
Voraussetzung:
Aufräumen:
EinmalAufräumen:

# English Stage Instructions
Behaviour:
Behavior:
Feature:
Szenario:
Scenario:
Active:
Tags:
Comment: 
TestData:
OneTimePrecondition:
Precondition:
Cleanup:
OneTimeCleanup:
