# Note: Valid Stage Instructions must end with ":"

# Common Stage Instructions
XXId:
XXID:
XX-ID:
XX-Id:
Test-Parameter:
Test-Phase:

# German Stage Instructions
Verhalten:
Aktiv:
Kategorie-Filter:
Kommentar:
Testdaten: 

# English Stage Instructions
Behaviour:
Behavior:
Active:
Category-Filter:
Comment: 
TestData: 