# Note: Valid Stage Instructions must end with ":"

# Common Stage Instructions
XXId:
XXID:
XX-ID:
XX-Id:
Test-Parameter:
Test-Phase:
Filter:

# German Stage Instructions
Verhalten:
Aktiv:
Ausführungsfilter:
Kommentar:
Testdaten: 

# English Stage Instructions
Behaviour:
Behavior:
Active:
Tags:
Comment: 
TestData: 