#################  Section 1: Test target and test set  #######################

# Values allowed / Mögliche Werte:
# HomePageIKS, HelloWorldSpringBoot, IksOnline
Zu_testende_Anwendung = IksOnline
#Application_Under_Test=HelloWorldSpringBoot

# Values allowed / Mögliche Werte:
# LOCAL, DEVELOPMENT, INTEGRATION, ACCEPTANCE, PRODUCTION
Zielumgebung = PRODUCTION
#Environment=LOCAL

# ToolTip: Werte, die hier möglich sind, lassen sich einer Report-Datei entnehmen.
# ToolTip: Filterwerte können in den nlxx-Dateien definiert werden.
# ToolTip: Es können auch negative Filter verwenden verwenden (z.B. 'NICHT-Login')
# ToolTip: Negative Filter werden ausgeschlossen und dürfen nur als Einschränkungen hinter positiven verwendet werden (z.B. 'Vertragsdruck,NICHT-Loan')
# ToolTip: Außerdem können die Namen der nlxx-Dateien als Filter benutzt werden.
# Values allowed / Mögliche Werte:
# Smoketest
Ausführungsfilter = Smoketest
#ExecutionFilter=

#################  Section 2: Test execution  #######################

# Values allowed / Mögliche Werte:
# Firefox, Firefox_45_9, Chrome, IE
Browser = FIREFOX

# Values allowed:
# fast, slow, verySlow
# Mögliche Werte:
# schnell, normal, langsam
Geschwindigkeit_der_Testausfuehrung = schnell
#Speed_of_Execution=fast

#################  Section 3: Test report  #######################

Name_des_Testberichts = IksOnline-PRODUCTION-Smoketest
#Report_Name

Archiv-Verzeichnis = C:/dev/SysNatTesting/workspace/sysnat.testresult.archiving/target
#Archive_Directory=


#################  MISC  #######################

# Values allowed: on, off
# Mögliche Werte: an, aus
SettingsConfigDialog=an



# cmd /c "cd /d ""C:\dev\SysNat"" && ""StartSysNatTesting.bat"""