#################  Section 1: Test target and test set  #######################

# Values allowed / Mögliche Werte:
# HomePageIKS, HelloWorldSpringBoot
Zu_testende_Anwendung = HomePageIKS
#Application_Under_Test=HelloWorldSpringBoot

# Values allowed / Mögliche Werte:
# LOCAL, DEVELOPMENT, INTEGRATION, ACCEPTANCE, PRODUCTION
Zielumgebung = PRODUCTION
#Environment=LOCAL

# ToolTip: Mögliche Werte siehe Report-Datei (z.B. 'Smoketest', für eine Testausführung ohne Filter einfach Leer lassen.)
# ToolTip: Es können auch negative Filter verwenden verwenden (z.B. 'NICHT-Login')
# ToolTip: Negative Filter werden ausgeschlossen und dürfen nur als Einschränkungen hinter positiven verwendet werden (z.B. 'Vertragsdruck,NICHT-Loan')
# ToolTip: Außerdem können die Namen der nlxx-Dateien als Filter benutzt werden.
Ausführungsfilter = -
#ExecutionFilter=

#################  Section 2: Test execution  #######################

# Values allowed / Mögliche Werte:
# Firefox, Firefox_45_9, Chrome, IE
Browser = Firefox

# Values allowed:
# fast, slow, verySlow
# Mögliche Werte:
# schnell, normal, langsam
Geschwindigkeit_der_Testausfuehrung = schnell
#Speed_of_Execution=fast

#################  Section 3: Test report  #######################

Name_des_Testberichts = ICF-ACCEPTANCE
#Report_Name

Archiv-Verzeichnis = C:/dev/SysNatTesting/workspace/sysnat.testresult.archiving/target
#Archive_Directory=


#################  MISC  #######################

# Values allowed: on, off
# Mögliche Werte: an, aus
SettingsConfigDialog=aus