# Values allowed: 
# Mögliche Werte:
# IksOnline, HelloWorldSpringBoot  
TestApplication=HelloWorldSpringBoot

# Values allowed:
# Mögliche Werte: 
# LOCAL, DEVELOPMENT, INTEGRATION, ACCEPTANCE, PRODUCTION  
Environment=LOCAL

# Values allowed: 
# Mögliche Werte:
# Firefox, Chrome, IE (Firefox ist am besten geignet !!!)
Browser=Firefox

# Values allowed: fast, slow, verySlow
# Mögliche Werte: schnell, normal, langsam
Geschwindigkeit_der_Testausfuehrung=schnell
ExecutionSpeed=fast

# Mögliche Werte siehe Report-Datei (z.B. 'Loan', für eine Testausführung ohne Filter einfach Leer lassen.)
# Es können auch negative Kategorien verwenden verwenden (z.B. 'NICHT-Loan')
# Negative Kategorien werden ausgeschlossen und dürfen nur als Einschränkungen hinter positiven verwendet werden (z.B. 'Vertragsdruck,NICHT-Loan')
# Außerdem können die Namen der NatSpec-Dateien als FilterKategorien benutzt werden  ,PdfDruck_Wohnmobil
Filter_auszufuehrende_Testkategorien=

# Mögliche Werte: Alles_In_Einem, Jeder_Test_Separat
# Values allowed: All_In_One, Each_Test_Separate
ReportArt=Alles_In_Einem
ReportType=All_In_One

# Mögliche Werte: Ja, Nein
# Values allowed: Yes, No 
Archivierung=Nein
