# Note: Valid Stage Instructions must end with ":"

# Common Stage Instructions
XX:
XXID:
Test-Parameter:
Test-Phase:
Filter:
Synonym:

# German Stage Instructions
Aktiv:
Verhalten:
Szenario:
Testdaten: 
Kommentar:
EinmalVoraussetzung:
Voraussetzung:
Aufräumen:
EinmalAufräumen:

# English Stage Instructions
Active:
Behaviour:
Behavior:
Feature:
Scenario:
Tags:
Comment: 
TestData:
OneTimePrecondition:
Precondition:
Cleanup:
OneTimeCleanup:
