#################  Section 1: Test Target and Execution Filter #######################

# ToolTip: The available test applications are dynamically revealed
# ToolTip: by searching for available application properties files.
DocApplication = CTI

# ? ToolTip: ?
# Values allowed:
# SystemDescription, RequirementDocumentation
# Mögliche Werte:
# Systembeschreibung, Anforderungsdokumentation
DocType = SystemDescription

# ? ToolTip: ?
# Values allowed:
# Minimum, Medium, Maximum
# Mögliche Werte:
# Minimal, Mittel, Maximal
DocDepth = Minimum

# ToolTip: The available environments are dynamically revealed
# ToolTip: by parsing the available application properties files.
# ToolTip: It must be one of LOCAL, DEVELOPMENT, INTEGRATION, ACCEPTANCE, PREPROD, PRODUCTION.
DocEnvironment = INTEGRATION

#################  Section 2: Test execution  #######################

# ? ToolTip: ?
# Values allowed / Mögliche Werte:
# PDF, DOCX, HTML
DocFormat = PDF

#################  Section 3: Test report  #######################

# ? ToolTip: ?
DocName = HelloWorldSpringBoot-Anforderungsbericht-LOCAL.html

# ? ToolTip: ?
DocArchiveDir =