# ToolTip: You may always wish to start test execution or document generation
# ToolTip: directly without handling this dialog.
# Values allowed / Mögliche Werte:
# yes, no
UseSysNatDialog = yes

# ToolTip: You may always wish to start this dialog with a certain tab.
# Values allowed / Mögliche Werte:
# Testing, Docing, General
DialogStartTab = Testing

# ToolTip: After test execution and/or document generation
# ToolTip: you may wish to see the result immediately.
# Values allowed / Mögliche Werte:
# Testing, Docing, Both, None
ResultLaunchOption = Both


# Console start command:
# cmd /c "cd /d ""../.."" && ""StartSysNatTesting.bat"""
# cmd /c "cd /d ""../../../sources\sysnat.natural.language.executable.examples\src\main\resources\batFiles"" && ""clearReportDir.bat"""
# cmd /c "cd /d ""../../../sources\sysnat.natural.language.executable.examples\src\main\resources\batFiles"" && ""deleteAllPdfFilesInDownloadDir.bat"""