#################  Section 1: Test target and test set  #######################

# Values allowed / Mögliche Werte:
# HomePageIKS, HelloWorldSpringBoot, GoogleSearch
Application_Under_Test = GoogleSearch
#Zu_testende_Anwendung = HelloWorldSpringBoot

# Values allowed / Mögliche Werte:
# LOCAL, DEVELOPMENT, INTEGRATION, ACCEPTANCE, PRODUCTION
Environment = PRODUCTION
#Zielumgebung = LOCAL

# ToolTip: Werte, die hier möglich sind, lassen sich einer Report-Datei entnehmen.
# ToolTip: Filterwerte können in den nlxx-Dateien definiert werden.
# ToolTip: Es können auch negative Filter verwenden verwenden (z.B. 'NICHT-Login')
# ToolTip: Negative Filter werden ausgeschlossen und dürfen nur als Einschränkungen hinter positiven verwendet werden (z.B. 'Vertragsdruck,NICHT-Loan')
# ToolTip: Außerdem können die Namen der nlxx-Dateien als Filter benutzt werden.
# Values allowed / Mögliche Werte:
# Smoketest
ExecutionFilter = -
#Ausführungsfilter = -

#################  Section 2: Test execution  #######################

# Values allowed / Mögliche Werte:
# Firefox, Firefox_45_9, Chrome, IE
Browser = FIREFOX

# Values allowed:
# fast, slow, verySlow
# Mögliche Werte:
# schnell, normal, langsam
Speed_of_Execution=fast
#Geschwindigkeit_der_Testausfuehrung = schnell

#################  Section 3: Test report  #######################

#Name_des_Testberichts = 
Report_Name =

#Archiv-Verzeichnis = 
Archive_Directory=

#################  MISC  #######################

# Values allowed: on, off
# Mögliche Werte: an, aus
Start_With_SysNatStartDialog=on
#Starte_Mit_SysNatStartDialog=an


# Console start command:
# cmd /c "cd /d ""../.."" && ""StartSysNatTesting.bat"""
# cmd /c "cd /d ""../../../sources\sysnat.natural.language.executable.examples\src\main\resources\batFiles"" && ""clearReportDir.bat"""
# cmd /c "cd /d ""../../../sources\sysnat.natural.language.executable.examples\src\main\resources\batFiles"" && ""deleteAllPdfFilesInDownloadDir.bat"""

