#################  Section 1: Test Target and Execution Filter #######################

# ToolTip: The available test applications are dynamically revealed
# ToolTip: by searching for available application properties files.
# Known Test Applications: HelloWorldSpringBoot, HomePageIKS
TestApplication = HomePageIKS

# ToolTip: The available environments are dynamically revealed
# ToolTip: by parsing the available application properties files.
# ToolTip: It must be one of the TargetEnv enum: LOCAL, DEVELOPMENT, INTEGRATION, ACCEPTANCE, PREPROD, PRODUCTION
TestEnvironment = PRODUCTION

# ToolTip: Values allowed are listed in each report's overview section.
# ToolTip: Additional filter values can be defined in the nlxx files.
# ToolTip: You may also use negative filters , e.g. 'NON-Login'.
# ToolTip: Negative filters are supposed to be used as restrictions behind positive filters (e.g. 'Print, NON-Contract')
# ToolTip: You also may use the name of nlxx-files as filter condition.
# Values allowed / Mögliche Werte:
# HomePageIKS: -, Smoketest, PdfContent
# HelloWorldSpringBoot: Smoketest
TestExecutionFilter = -

#################  Section 2: Test execution  #######################

# Values allowed / Mögliche Werte:
# Firefox, Chrome, Edge
TestBrowser = Chrome

# Values allowed:
# quick, standard, slow
# Mögliche Werte:
# schnell, normal, langsam
TestExecutionSpeed = schnell

#################  Section 3: Test report  #######################

# ? ToolTip: ?
TestReportName = HomePageIKS-PRODUCTION-Alle

# ? ToolTip: ?
TestReportArchiveDir =